In [4]:
import sqlite3
dbfile = "nkust.db"
conn = sqlite3.connect(dbfile)
stuname = input("Name:")
while stuname!="":
    eng_score = input("English Score:")
    chi_score = input("Chinese Score:")
    sql_str = "insert into score ('name', 'eng', 'chi') values('{}',{},{});".format(
        stuname, eng_score, chi_score)
    conn.execute(sql_str)
    stuname = input("Name:")
conn.commit()
conn.close()

Name:Jenny
English Score:94
Chinese Score:58
Name:Smart
English Score:97
Chinese Score:84
Name:Killer
English Score:99
Chinese Score:99
Name:Amada
English Score:85
Chinese Score:55
Name:Lisa
English Score:84
Chinese Score:88
Name:Alex
English Score:85
Chinese Score:45
Name:John
English Score:74
Chinese Score:85
Name: