In [4]:
#建立學生的資料
import sqlite3
dbfile = "nkust.db"
conn = sqlite3.connect(dbfile)
stuname = input("Name:")
while stuname!="":
    eng_score = input("English Score:")
    chi_score = input("Chinese Score:")
    sql_str = "insert into score ('name', 'eng', 'chi') values('{}',{},{});".format(
        stuname, eng_score, chi_score)
    conn.execute(sql_str)
    stuname = input("Name:")
conn.commit()
conn.close()

Name:Jenny
English Score:94
Chinese Score:58
Name:Smart
English Score:97
Chinese Score:84
Name:Killer
English Score:99
Chinese Score:99
Name:Amada
English Score:85
Chinese Score:55
Name:Lisa
English Score:84
Chinese Score:88
Name:Alex
English Score:85
Chinese Score:45
Name:John
English Score:74
Chinese Score:85
Name:

In [15]:
#顯示學生的資料
import sqlite3
dbfile = "nkust.db"
conn = sqlite3.connect(dbfile)
rows = conn.execute("select * from score;")
data = list()
for row in rows:
    temp = (row[1], row[2], row[3], row[2]+row[3], (row[2]+row[3])/2)
    data.append(temp)
conn.close()
print("Name\tEng\tChi\tTotal\tAvg")
for d in data:
    for k in d:
        print("{}\t".format(k), end="")
    print()

Name	Eng	Chi	Total	Avg
Richard	100	95	195	97.5
Tom	85	94	179	89.5
Mary	65	95	160	80.0
Jenny	94	58	152	76.0
Smart	97	84	181	90.5
Killer	99	99	198	99.0
Amada	85	55	140	70.0
Lisa	84	88	172	86.0
Alex	85	45	130	65.0
John	74	85	159	79.5